/* LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.conteiner {
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}
[class^="col-"] {
  float: left;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
/* LAYOUT */
 /* UTILITY */

 .col-100 {
   width: 100%;
 }
 .col-33 {
   padding: 0 20px;
   width: calc(100% / 3);
 }
/* UTILITY */

/* NAV-TOP */

.nav-t {
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
  height: 70px;
  line-height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}
nav div i a {
  color: #32495B;
  margin-left: 5px;
  margin-right: 15px;
}
.fa-globe-europe {
  color: #32495B;
  margin-right: 5px;
}
.lingua {
  font-size: 13px;
  font-weight: 600;
  border-right: 1px solid #32495B;
  padding-right: 15px;
  margin-right: 20px;
}
nav div a {
  color: #32495B;
  font-size: 13px;
  font-weight: 600;
}
.lingua:hover {
  text-decoration: underline;
}
.nav-right {
  float: right;
}
.fa-search {
  color: #00A4BD;
  margin-right: 15px;
  font-size: 13px;
}
.login a {
  color: #FE775A;
}
.gethub a {
  color: #fff;
}
.login {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #FE775A;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
}
.gethub {
  background-color: #FE775A;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
}
/* NAV-TOP */
 .row-fluid {
   height: 70px;
 }
/* NAV-BOTTOM */
.nav-b {
  height: 70px;
  line-height: 70px;
}
.nav-b li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}
.logo {
  vertical-align: middle;
}
.nav-b ul {
  float: right;
  vertical-align: middle;
}
.nav-b a {
  margin-right: 10px;
}
.nav-b .fa-chevron-down {
  color: #32495B;
  font-size: 13px;
}
.nav-b a {
  color: #32495B;
  font-size: 13px;
  font-weight: 600;
}
.nav-b a:hover {
  text-decoration: underline;
}
/* NAV-BOTTOM */

/* JUMBO */
.jumbo {
  background-image: url("../img/jumbotron.png");
  height: 650px;
  background-size: cover;
  margin-top: 10px;

}
.tit-j {
  width: 55%;
  color: #32495B;
  font-size: 40px;
  margin-top: 7%;
}
.par-j {
  width: 55%;
  color: #32495B;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 25px;
}
.jumbo span {
  width: 180px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding: 20px;
  color: #32495B;
}
.jumbo h6 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 11px;
  color: #32495B;
}
.bg-lightblue {
  height: 80px;
  background-color: #AFEBE4;
  border-top: 2px solid #32495B;
  border-bottom: 2px solid #32495B;
  position: relative;
  top: 195px;
}
 /* JUMBO */

 /* MAIN */
 .box {
   background-color: #F4F9FD;
   padding-bottom: 40px;
 }
 /* cube */

 .cube {
   display: block;
   margin: 30px auto;
   width: 25%;
   margin-bottom: 5px;
 }
.cube + h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  color: #33475B;
}
.cube + h2 + p {
  color: #33475B;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
/* cube */

/* book */
.box-white {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
  border-radius: 5px;
  margin-top: 30px;
  height: 300px;
  position: relative;
}
.book {
  width: 13%;
  margin-top: 5%;
  margin-left: 10%;
}

.learn {
  padding: 18px 30px;
}
.pos {
  position: absolute;
  top: 60%;
  left: 10%;
}
.box-white h2 {
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 215px;
}
.box-white p {
  font-size: 13px;
  font-weight: 600;
  width: 580px;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 150px;
  line-height: 22px;
}
.box-white h3 {
  text-transform: uppercase;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 100px;
}
.box-white hr {
  width: 380px;
  text-transform: uppercase;
  color: #899397;
  position: absolute;
  left: 53%;
  bottom: 111px;
}
.box-white ul {
  list-style: none;
  font-weight: 500;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 60px;
}
.box-white li {
  font-size: 14px;
  display: inline-block;
  margin-right: 25px;
}
.fa-check-circle {
  color: #FE775A;
  margin-right: 10px;
}
.box-white-33 {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
  border-radius: 5px;
  margin-top: 50px;
}
.box-white-33 li {
  margin-right: 20px;
  margin-bottom: 5px;
}
.buble {
  padding-top: 20px;
  width: 28%;
  display: block;
  margin: 20px auto;
}
.office {
  padding-top: 20px;
  width: 35%;
  display: block;
  margin: 20px auto;
}
.table {
  padding-top: 20px;
  width: 25%;
  display: block;
  margin: 20px auto;
}
.box-white-33 h2{
  color: #33475B;
  text-align: center;
}
.box-white-33 p{
  font-weight: 600;
  margin: 20px 30px;
  line-height: 20px;
  font-size: 13px;
  color: #33475B;
  text-align: center;
}
.box-white-33 hr {
  width: 80%;
  margin: 60px auto;
  margin-bottom: 40px;
  color: #899397;
}
.box-white-33 h3 {
  color: #33475B;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.box-white-33 li {
  color: #33475B;
  font-size: 14px;
  list-style: none;
  display: inline-block;
  font-weight: 600;

}
.box-white-33 i {
  margin-left: 30px;
}
.box-white-33 span {
  display: inline-block;
  margin-top: 12%;
  margin-bottom: 5%;;
  margin-left: 29%;
}
/*SECTION LINEAR-GRADIENT */

.bg-gradient {
  height: 700px;
  background: linear-gradient(to right, #00A9B7 ,#00BCA7);
}
.testi h2 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.testi p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 50px;
}
.board::after{
  content: "";
  clear: both;
  display: table;
}
.board {
  text-align: center;
  color: #fff;
  float: left;
  width: 265px;
  padding: 20px;
  height: 200px;
  border-top: none;
  border-bottom: none;
}
.board img {
  margin-bottom: 15px;
}
.board h1 {
  font-size: 37px;
  margin-bottom: 20px;
}
.board span {
  font-size: 30px;
  font-weight: 400;
}
.board h5 {
  font-weight: 500;
}

.sopra {
  border-bottom: 1px solid #fff;
}
.ri {
  border-right: 1px solid #fff;
}
.customers {
  margin-top: 40px;
  margin-left: 7%;
  float: left;
  width: 200px;
  color:#33475B;
  margin-bottom: 90px;
}
.customers h1 {
  margin-bottom: 30px;
  display: inline-block;
  font-size: 35px;
}
.customers p {
  display: inline;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
}

.right {
  padding-left: 80px;
  margin-top: 50px;
  width: 700px;
  float: right;
}
.right img {
  width: 20%;
  margin-right: 20px;
}
.sub {
  padding-top: 30px;
}
.wis {
  padding-bottom: 15px;
}
.wm {
  padding-bottom: 15px;
}
.cr {
  vertical-align: middle;
}
.purp {
  vertical-align: middle;
}
.start_grow {
  position: relative;
}
.start_grow h1, p{
  color: #33475B;
}
.start_grow h1 {
  width: 500px;
  font-size: 28px;
  margin-bottom: 35px;
}
.start_grow p{
  width: 450px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 35px;
}
.gethub-c {
  text-align: center;
  display: inline-block;
  width: 180px;
  padding: 20px;
  margin-bottom: 40px;
}
.get {
  margin-bottom: 40px;
  font-size: 11px;
  font-weight: 600;
  display: block;
}
.start_grow img {
  position: absolute;
  width: 28%;
  left: 70%;
  bottom: 12%;
}
/* FOOTER */
.bg_footer {

  background-color: #32495B;
}
.bg_footer ul {
  display: inline-block;
  list-style: none;
  margin-right: 76px;
}
.bg_footer li, a {
  color: #fff;
  font-size: 14px;
  margin-top: 14px;
  font-weight: 450;
} .bg_footer a {
  color: #DADEE0;
}
.bg_footer  ul {
  margin-top: 25px;
  margin-bottom: 20px;
}
.bg_footer ul li:first-child {
  margin-bottom: 30px;
  font-weight: bold;
}
.bg_footer a:hover {
  text-decoration: underline;
}
.btn-f {
  width: 200px;
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: #32495B;
  background-color: #DADEE0;
  font-weight: 500;
  position: relative;
  left: 75%;
}
.bg_footer i {
  color: #DADEE0;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 75%;
}
.lingue  {
  text-align: center;
  margin-top: 60px;
  border-bottom: 1px solid #DADEE0;
  padding-bottom: 20px;
}
.lingue a {
  font-size: 15px;
  margin-right: 20px;
}
.logo_footer {
  margin-top: 30px;
}
.copy span {
  display: block;
  color: #DADEE0;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}
.copy a {
  float: right;
  margin-left: 20px;
  margin-top: 30px;
}
