/* LAYOUT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.conteiner {
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}
[class^="col-"] {
  float: left;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
/* LAYOUT */
 /* UTILITY */

 .col-100 {
   width: 100%;
 }
 .col-33 {
   width: calc(90% / 3);
 }
/* UTILITY */

/* NAV-TOP */

.nav-t {
  background-color: #F4F9FD;
  border-bottom: 1px solid #32495B;
  height: 70px;
  line-height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}
nav div i a {
  color: #32495B;
  margin-left: 5px;
  margin-right: 15px;
}
.fa-globe-europe {
  color: #32495B;
  margin-right: 5px;
}
.lingua {
  font-size: 13px;
  font-weight: 600;
  border-right: 1px solid #32495B;
  padding-right: 15px;
  margin-right: 20px;
}
nav div a {
  color: #32495B;
  font-size: 13px;
  font-weight: 600;
}
.lingua:hover {
  text-decoration: underline;
}
.nav-right {
  float: right;
}
.fa-search {
  color: #00A4BD;
  margin-right: 15px;
  font-size: 13px;
}
.login a {
  color: #FE775A;
}
.gethub a {
  color: #fff;
}
.login {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #FE775A;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
  margin-right: 15px;
}
.gethub {
  background-color: #FE775A;
  border-radius: 4px;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
}
/* NAV-TOP */
 .row-fluid {
   height: 70px;
 }
/* NAV-BOTTOM */
.nav-b {
  height: 70px;
  line-height: 70px;
}
.nav-b li {
  list-style: none;
  display: inline-block;
  margin-right: 12px;
}
.logo {
  vertical-align: middle;
}
.nav-b ul {
  float: right;
  vertical-align: middle;
}
.nav-b a {
  margin-right: 10px;
}
.nav-b .fa-chevron-down {
  color: #32495B;
  font-size: 13px;
}
.nav-b a {
  color: #32495B;
  font-size: 13px;
  font-weight: 600;
}
.nav-b a:hover {
  text-decoration: underline;
}
/* NAV-BOTTOM */

/* JUMBO */
.jumbo {
  background-image: url("../img/jumbotron.png");
  height: 650px;
  background-size: cover;
  margin-top: 10px;

}
.tit-j {
  width: 55%;
  color: #32495B;
  font-size: 40px;
  margin-top: 7%;
}
.par-j {
  width: 55%;
  color: #32495B;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 25px;
}
.jumbo span {
  width: 180px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  padding: 20px;
  color: #32495B;
}
.jumbo h6 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 11px;
  color: #32495B;
}
.bg-lightblue {
  height: 80px;
  background-color: #AFEBE4;
  border-top: 2px solid #32495B;
  border-bottom: 2px solid #32495B;
  position: relative;
  top: 195px;
}
 /* JUMBO */

 /* MAIN */
 .box {
   background-color: #F4F9FD;
 }
 /* cube */

 .cube {
   display: block;
   margin: 30px auto;
   width: 25%;
   margin-bottom: 5px;
 }
.cube + h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  color: #33475B;
}
.cube + h2 + p {
  color: #33475B;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
/* cube */

/* book */
.box-white {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
  border-radius: 8px;
  margin-top: 30px;
  height: 300px;
  position: relative;
}
.book {
  width: 13%;
  margin-top: 6%;
  margin-left: 10%;
}

.learn {
  padding: 18px 30px;
}
.pos {
  position: absolute;
  top: 60%;
  left: 10%;
}
.box-white h2 {
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 215px;
}
.box-white p {
  font-size: 13px;
  font-weight: 600;
  width: 580px;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 140px;
  line-height: 20px;
}
.box-white h3 {
  text-transform: uppercase;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 100px;
}
.box-white hr {
  width: 380px;
  text-transform: uppercase;
  color: #899397;
  position: absolute;
  left: 53%;
  bottom: 111px;
}
.box-white ul {
  list-style: none;
  font-weight: 500;
  color: #33475B;
  position: absolute;
  left: 30%;
  bottom: 60px;
}
.box-white li {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
}
.fa-check-circle {
  color: #FE775A;
  margin-right: 10px;
}
.box-white-33 {
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
  border-radius: 8px;
  margin-top: 50px;
}
.mr {
  margin-right: 53px;
}
.buble {
  width: 28%;
  display: block;
  margin: 20px auto;
}
.office {
  width: 35%;
  display: block;
  margin: 20px auto;
}
.table {
  width: 25%;
  display: block;
  margin: 20px auto;
}
.box-white-33 h2{
  color: #33475B;
  text-align: center;
}
.box-white-33 p{
  font-weight: 600;
  margin: 20px 30px;
  line-height: 20px;
  font-size: 13px;
  color: #33475B;
  text-align: center;
}
.box-white-33 hr {
  width: 80%;
  margin: 60px auto;
  margin-bottom: 40px;
  color: #899397;
}
.box-white-33 h3 {
  color: #33475B;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.box-white-33 li {
  color: #33475B;
  font-size: 14px;
  list-style: none;
  display: inline-block;
  font-weight: 600;

}
.box-white-33 i {
  margin-left: 30px;
}
.box-white-33 span {
  display: inline-block;
  margin-top: 12%;
  margin-bottom: 5%;;
  margin-left: 29%;
}
